# Q-1: Creating one variable containing following type of data.

**(1) String   (2)list(3)float(4)tuple**

In [1]:
# String
data='India'
print(data)

India

In [2]:
# list
data=[1,2,3,4,5]
print(data)

[1, 2, 3, 4, 5]

In [3]:
# float
data=10.4
print(data)

10.4

In [4]:
# tuple
data=(1,2,3,4,5)
print(data)

(1, 2, 3, 4, 5)

# Q-2 Solution

In [5]:
# (i) 'var1' is string type variable
# (2) 'var2' is string type variable
# (3) 'var3' is list type variable
# (4) 'var4' is integer type variable

In [6]:
var1=''
print(type(var1))

var2='[DS,ML,Python]'
print(type(var2))

var3=['Ds','ML','Python']
print(type(var3))

var4=1
print(type(1))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

# Q-3 : Explain the following operators using example:

# / :-This is a division operator used to calculate division

In [7]:
n1=10
n2=2
print(n1/n2)

5.0

# % :- This is a modulo division operator used to calculate remender

In [8]:
n1=10
n2=4
print(n1%n2)

2

# // :- This is a Floor division operator used to get smallest number from floating point number

In [9]:
n1=10
n2=3
print(n1//n2)

3

# ** :- This is a Exponential operator used to calculate power.

In [10]:
n1=2
n2=5
print(n1**n2)

32

# Q-4 :- Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [11]:
lst=[12,34,'India','Maharashtra',True,False,10.34,100.10,23,100]
count=0
for i in lst:
    count=count+1
    print(count,'  value=',i,'        type=',type(i))

1   value= 12         type= <class 'int'>
2   value= 34         type= <class 'int'>
3   value= India         type= <class 'str'>
4   value= Maharashtra         type= <class 'str'>
5   value= True         type= <class 'bool'>
6   value= False         type= <class 'bool'>
7   value= 10.34         type= <class 'float'>
8   value= 100.1         type= <class 'float'>
9   value= 23         type= <class 'int'>
10   value= 100         type= <class 'int'>

# Q-5 : Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [12]:
A=50
B=5
temp=B
count=0
if((A%B)==0):
    while(A>=B):
        count=count+1
        B=B+temp
    else:
        print(count)
else:
    print('A is not purely divisible by B')

10

# Q-6 :Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [13]:
 lst=list(range(1,26))

In [14]:
for i in lst:
    if(i%3==0):
        print(i, 'is divisible by 3')
    else:
        print(i, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Q-7 :- What do you understand about mutable and immutable data types? Give example for both showing this property.

# Mutable

**Mutable object can be modified after creating. ex-(such as lists, dictionaries,etc.). We may add new values or remove the existing values from our data types. Basically, we may perform any operation with our data without having to create a new copy of our data type.If we try to do any modification in that then it will throw error.**

In [15]:
# Example
ex=[1,2,3,4,5]
print(ex)
ex[0]=45        # modify index 0 with 45
print(ex)

# remove

[1, 2, 3, 4, 5]
[45, 2, 3, 4, 5]

# Immutable

**Immutable object can't be modified onece they created. ex(such as tuple,sting). We can't add new values or remove the existing values from our immutable data types. We can't perform any operation with our data without creating new copy of the data type.**

In [16]:
string='String'
print(string)

String

In [17]:
# try to modify 
string[0]='P'

TypeError: 'str' object does not support item assignment